* {
  font-family: "Montserrat", sans-serif;
}
%input-properties {
  padding: 0.5rem;
  width: 100%;
  height: 2rem;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 1rem;
  outline: none;
}
html {
  height: 100%;
}
body {
  margin: auto;

  min-width: 500px;
  align-items: center;
}

.main-section {
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.channels {
  flex: 1 1 0;
  border-radius: 20px;
  margin: 1rem;
  padding: 1rem;
}

.message-area {
  flex: 2 1 0;
  border-radius: 20px;
}
#greetings {
  text-align: center;
  margin-top: 1.2rem;
}

#roomTitle {
  font-family: "Permanent Marker", cursive;
}

#displayMessages {
  overflow-y: scroll;
  border-radius: 1rem;
  padding: 1rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
  height: calc(100vh - 300px);
  //   max-height: 600px;
  #messages {
    display: flex;
    flex-direction: column;
    .message {
      padding: 1rem;
      .time {
        font-size: 0.7rem;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1.2rem;
        color: rgb(143, 143, 143);
      }
      .user {
        font-weight: bold;
        padding: 3px;
        display: inline;
      }
      .text {
        background-image: linear-gradient(45deg, #d1ecec 0%, #f3d3e2 100%);
        display: inline;
        border-radius: 0.8rem;
        height: 1.5rem;
        padding: 10px;
        width: 100%;
      }
    }
  }
}

.message-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  #myMessage {
    @extend %input-properties;
  }
  #sendButton {
    font-size: 1.8rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    &:active {
      transform: scale(1.1);
    }
  }
}

.rooms {
  .room-input {
    display: flex;
    #newRoom {
      @extend %input-properties;
      display: inline;
    }
    #createRoom {
      border: none;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      display: inline;
      font-size: 1.3rem;
      align-items: center;
      &:active,
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  #roomList {
    height: 100%;
    width: 200px;
    padding-inline-start: 0px;
    .select-room {
      font-family: "Permanent Marker", cursive;
      font-size: 1.2rem;
      line-height: 1.1rem;
      cursor: pointer;
      list-style: none;
      padding: 5px;
      text-transform: capitalize;
      &::before {
        content: "#";
      }
      &:hover {
        font-weight: bold;
      }
      &:hover::before {
        content: "> ";
      }
    }
  }
}
